* {
  margin: 0;
}

.page {
  font-size: 21px;
  width: 60%;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  height: 15%;
}

.page-header {
  text-align: center;
}

main {
  overflow: scroll;
  height: 90%;
  padding-top: 0;
}

.pokemon {
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.pokemon > thead {
  text-align: left;
  background-color: #3b5ba7;
  color: #edebeb;
  font-size: 1.1em;
  position: sticky;
  top: 0%;
}

.pokemon > tbody {
  background-color: rgba(241, 241, 241, 0.596);
  font-weight: 100px;
}

.pokemon td,
th {
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid #f1f1f1;
}

.pokemon th {
  font-weight: 500;
}

.pokemon td {
  font-weight: 300;
  font-size: 18px;
}

.pokemon th:hover {
  cursor: pointer;
}

.pokemon tbody > tr:hover {
  background-color: rgba(235, 237, 141, 0.376);
}

tbody > *:nth-child(even) {
  background-color: white;
}

tbody > tr > *:nth-child(2) {
  text-transform: capitalize;
}

.poke-type {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
}

.grass {
  background-color: rgb(152, 170, 126);
}

.poison {
  background-color: rgb(148, 70, 148);
}

.fire {
  background-color: rgb(255, 106, 0);
}

.flying {
  background-color: rgb(194, 161, 199);
}

.water {
  background-color: rgb(116, 157, 207);
}

.bug {
  background-color: rgb(136, 207, 116);
}

.normal {
  background-color: rgb(99, 127, 86);
}

.electric {
  background-color: rgb(227, 221, 55);
}
.ground {
  background-color: rgb(182, 176, 95);
}

.fairy {
  background-color: rgb(237, 176, 237);
}

.fighting {
  background-color: rgb(224, 23, 23);
}

.psychic {
  background-color: rgb(234, 105, 168);
}

.rock {
  background-color: rgb(167, 119, 47);
}
.steel {
  background-color: rgb(160, 157, 153);
}

.ice {
  background-color: rgb(161, 238, 244);
}

.ghost {
  background-color: rgb(208, 114, 242);
}

.dark {
  background-color: rgb(92, 71, 34);
}

.dragon {
  background-color: rgb(149, 39, 239);
}
