* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(207, 206, 201);
}

main {
  height: 90%;
  overflow: scroll;
}

.pokemon {
  margin: 1em auto;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 900;
  font-style: italic;

  position: sticky;
  top: 0px;
  left: 0px;
}

.faded-header {
  height: 50px;
  width: 100%;
  background-color: rgb(207, 206, 201);
  opacity: 0.8;

  position: sticky;
  top: 0px;
  left: 0px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  width: 70%;
  border-spacing: 1em;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.8em;
  gap: 10px;
  border-radius: 10px;
  background-color: rgb(164 212 227);
}

.avatar-container {
  height: 240px;
  aspect-ratio: 1;
  background-color: rgb(210 233 240);
  border-radius: 5px;
  padding: 1em;
}

.avatar {
  width: 100%;
  height: 100%;
}

.pokemon-name {
  text-transform: capitalize;
  text-align: left;
  font-size: 1.2em;
  font-weight: 800;
}

.pokemon-types {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.stats {
  display: flex;
  flex-flow: column;
  gap: 5px;
  padding-bottom: 10px;
}

.pokemon-property {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(164 212 227);
  border-bottom: 1px solid rgb(148, 143, 143);
  line-height: 1.6em;
}

.pokemon-property .pokemon-property-type {
  font-size: 18px;
  font-weight: 500;
}

.card:hover {
  box-shadow: 1px 1px 10px black;
  background-color: rgb(164, 201, 213);
  z-index: 1;
}

.card:active .pokemon-property {
  border-radius: 20px;
  border: 1px solid black;
  padding: 4px;
  width: 70%;
}

.cards:has(.card:active) .card:not(:active) {
  filter: blur(10px);
}

.card:active .stats > *:nth-child(even) {
  transition-duration: 1s;
  transform: translate(280px, -120px);
  transition-timing-function: ease-out;
}

.card:active .stats > *:nth-child(odd) {
  transition-duration: 1s;
  transform: translate(-250px, -100px);
  transition-timing-function: ease-out;
}

.poke-type {
  border-radius: 3px;
  width: 45%;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  font-size: 14px;
  color: #ffffff;
}
