* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(
    rgb(210 233 240 / 37%),
    hsl(194.29deg 52.94% 76.67% / 62%)
  );
}

.page {
  width: 100%;
  height: 80%;
  overflow: scroll;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-size: 10em;
  font-weight: 900;
  font-style: italic;

  position: sticky;
  top: 0px;
  left: 0px;

  background-color: linear-gradient(yellow, rgb(186, 175, 175));
  z-index: 2;
}

.cards {
  width: 70%;
  margin: 50px auto;
  border-spacing: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 0.8em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  background-color: hsl(194 51% 66% / 1);
}

.avatar-container {
  height: 240px;
  aspect-ratio: 1;
  border-radius: 5px;
  padding: 1em;

  background-color: rgb(210 233 240);
}

.avatar {
  width: 100%;
  height: 100%;
}

.pokemon-name {
  text-transform: capitalize;
  text-align: left;
  font-size: 1.2em;
  font-weight: 800;
}

.pokemon-types {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.stats {
  display: flex;
  flex-flow: column;
  gap: 5px;
  padding-bottom: 10px;
}

.pokemon-property {
  width: 100%;
  border-radius: 20px;
  line-height: 1.6em;
  border: 1px solid rgba(148, 143, 143, 0.2);
  padding: 0em 10px 0em 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(210 233 240);
}

.pokemon-property .pokemon-property-type {
  font-size: 18px;
  font-weight: 500;
}

.poke-type {
  border-radius: 3px;
  width: 45%;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  font-size: 14px;
  color: #ffffff;
}

.card:hover {
  box-shadow: 1px 1px 10px black;
  background-color: hsl(193 53% 58% / 1);
  position: relative;
  bottom: 1px;
  z-index: 1;
}

@media screen and (max-width: 700px) {
  .cards {
    flex-flow: column nowrap;
    align-content: center;
  }

  header {
    font-size: 2em;
  }

  .page {
    height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .card:active {
    box-shadow: none;
    background: transparent;
  }

  .card:active .avatar-container {
    border-radius: 50%;
    background: linear-gradient(159deg, #dcecf4, #abd6e5);
    box-shadow: 1px 1px 10px hsl(60deg 100% 67%);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transform: scale(1.5);
  }

  .card:active .pokemon-property {
    border-radius: 20px;
    border: 1px solid hsl(60deg 100% 67%);
    padding: 14px;
    background: linear-gradient(177deg, #e8f3f8, hsl(195 52% 77% / 1));
    box-shadow: 1px 1px 10px hsl(60deg 100% 67%);
    background-color: hsl(0, 0%, 90%);
  }

  .card:active .pokemon-name {
    text-align: center;

    transition-duration: 1s;
    transition-timing-function: ease-out;

    transform: translateY(100px) scale(2);
  }

  .card:active .pokemon-types {
    justify-content: center;

    transition-duration: 1s;
    transition-timing-function: ease-out;

    transform: translateY(150px) scale(2);
  }

  .card:active .pokemon-property > * {
    font-size: 24px;
  }

  .cards:has(.card:active) .card:not(:active) {
    filter: blur(10px);
  }

  .card:active .stats > *:nth-child(even) {
    transition-duration: 1s;
    transition-timing-function: ease-out;

    transform: translate(390px, -170px);
  }

  .card:active .stats > *:nth-child(odd) {
    transition-duration: 1s;
    transition-timing-function: ease-out;

    transform: translate(-370px, -150px);
  }
}
